@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  /* for hover effect */
  --increase-pane-width: 90%;
  --decrease-pane-width: 10%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  color: #fff;
  /* position in middle of pane */
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  /* no word wrap */
  white-space: nowrap;
}

.btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  color: #fff;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  width: 15rem;
  padding: 1.5rem;
  text-align: center;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

/* ps5 pane */
.split.left {
  /* start pane from left */
  left: 0;
  background: url("https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/ps.jpg?raw=true")
    no-repeat center;
  background-size: cover;
}
/* xbox pane */
.split.right {
  /* start pane from rights */
  right: 0;
  background: url("https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/xbox.jpg?raw=true")
    no-repeat center;
  background-size: cover;
}

/* color overlays */
.split.left::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--left-bg-color);
}
.split.right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--right-bg-color);
}

/* btn hover */
.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}
.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

/* when .left pane is hovered over increase width of .left pane */
.hover-left .left {
  width: var(--increase-pane-width);
}
/* decreae right pane width */
.hover-left .right {
  width: var(--decrease-pane-width);
}

/* right pane hover effect */
.hover-right .right {
  width: var(--increase-pane-width);
}
/* decreae left pane width */
.hover-right .left {
  width: var(--decrease-pane-width);
}

/* transition for hover effect */
.split.left,
.split.right,
.split.left::before,
.split.right::before {
  transition: all 0.8s ease-in-out;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 25%;
  }
  .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}
